.errorTextWrapper {
    padding: 10px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F0F0F0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 16px 2px rgba(175, 14, 14, 0.5);
    -moz-box-shadow: 0px 0px 16px 2px rgba(175, 14, 14, 0.5);
    box-shadow: 0px 0px 16px 2px rgba(175, 14, 14, 0.5);
    position: fixed;
    left: 70%;
    bottom: 2%;
}

.errorTextWrapper .errorIcon {
    width: 50px;
}

.errorTextWrapper .errorText {
    font-size: 1.1em;
    color: #da4453;
}

@media screen and (max-width: 800px) {
    .errorTextWrapper {
        min-width: 40%;
        left: 50%;
    }
    .errorTextWrapper .errorIcon {
        width: 100px;
    }
}