.preloaderWrapper {
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloaderWrapper img {
    position: fixed;
    /*padding-top: 20%;
    padding-left: 40%;
*/}